
.bottone a:link,
.bottone a:visited,
.bottone a:hover,
.bottone a:active {
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    background-color: #240202;
    line-height: 50px;
    position: relative;
    padding: 14px 33px;
    margin-bottom: 119px;
    height: 78px;
    width: 308px;
    /*
    background-image: url('../img/arrow.svg');
    background-position: calc(100% - 30px) center;
    background-repeat: no-repeat;
    */
}

.bottone a::after{
    content: "";
    display: block;
    background-image: url("../img/arrow.svg");
    background-position: calc(100% - 31px);
    width: 28px;
    height: 34px;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}


