
.bottone a:link,
.bottone a:visited,
.bottone a:hover,
.bottone a:active {
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    background-color: #240202;
    line-height: 50px;
    padding: 14px 33px;
    background-image: url('file:///C:/Users/Vincenzo%20Annese/Downloads/right-arrow-svgrepo-com%201.svg');
    background-position: calc(100% - 30px);
    background-repeat: no-repeat;
}


