
.listComponent li{
    list-style: decimal-leading-zero;
    list-style-position: inside;
    color: #707070;
    margin-top: 53px;
}

.listComponent ol{
    display: block;
    margin-top: 104px;
    margin-bottom: 147px;
}

.listComponent a:link,
.listComponent a:visited,
.listComponent a:hover,
.listComponent a:active{
    color: #FF0000;
}

.listComponent hr {
    border: none; 
    height: 2px; 
    background-color: #707070; 
}

.listComponent li::marker {
    font-size: 70px; 
}