

.listItem p{
    color: #707070;
    font-size: 22px;
    line-height: 34px;
    border-top: 2px solid #707070;
    padding-top: 16px;
    padding-bottom: 55px;
}

.listItem a:link,
.listItem a:visited,
.listItem a:hover,
.listItem a:active{
    color: #FF0000;
}

ul{
    counter-reset: listItem;
    list-style: none;
  }
  
li:before {
    color: #707070;
    font-size: 70px;
    content: ".0" counter(listItem);
    counter-increment: listItem;
}